{{template "admin" .}}



{{define "page-title"}}

{{end}}

{{define "content"}}
{{$now := index .Data "now"}}
{{$employee := index .Data "employee"}}
{{$dim := index .IntMap "days_in_month"}}
{{$curMonth := index .StringMap "this_month"}}
{{$curYear := index .StringMap "this_month_year"}}
{{$workingDayTypeList := index .Data "workingDayTypeList"}}
     <div class="position-static">
    <div class="col-md-12">
        <div class="text-center">
                    <h3>{{formatDate $now "January"}} {{formatDate $now "2006"}}</h3>
                </div>

                <div class="float-start">
                    <a class="btn btn-sm btn-outline-secondary"
                    href="/admin/reservations-calendar-day-type?y={{index .StringMap "last_month_year"}}&m={{index .StringMap "last_month"}}">&lt;&lt;</a>
                </div>

                <div class="float-end">
                    <a class="btn btn-sm btn-outline-secondary"
                    href="/admin/reservations-calendar-day-type?y={{index .StringMap "next_month_year"}}&m={{index .StringMap "next_month"}}">&gt;&gt;</a>
                </div>
    </div>
    </div>
    
    <div class="col-md-12">
       
        <div class="clearfix"></div>

        <form method="post" action="/admin/reservations-calendar">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            <input type="hidden" name="m" value="{{index .StringMap "this_month"}}">
            <input type="hidden" name="y" value="{{index .StringMap "this_month_year"}}">
        {{range $employee}}
            {{$employeeID := .ID}}
            {{$dayblocks := index $.Data (printf "day_block_map_%d" .ID)}}
            {{$nightblocks := index $.Data (printf "night_block_map_%d" .ID)}}
            {{$reservations := index $.Data (printf "reservation_map_%d" .ID)}}
             

            <h4 class="mt-4">{{.FirstName}} - {{.Workplace}} ({{.Address}}, {{.Phone}})</h4>

            <div class="table-response-sm">
                <table class="table table-bordered table-sm">

                     <tr class="table-active">
                     <td class="text-center">
                     </td>
                            {{range $index := iterate $dim}}
                                <td class="text-center">
                                    {{add $index 1}}
                                </td>
                            {{end}}
                     </tr>
                     <tr>
                     <td class="text-center">
                     Dnevna
                     </td>
                        {{range $index := iterate $dim}}
                            
                                <td class="text-center">
                                
                                    <div id="divInnerCombo">
                                        <select   class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id ="InnerCombo" onChange="refreshPage()"> 
			                           
                                        {{range $workingDayTypeList}}
                                            <option {{if eq .ID (index $dayblocks (printf "%s-%s-%d" $curYear $curMonth (add $index 1))) }}
                                                selected="selected"
                                                {{end}}     
                                            value="{{.ID }}">
                                                {{.Code}}</option>
                                        {{end}}
			               
		                            <select>
	                                </div>
                                {{end}}
                                </td>
                       
                     </tr>
                     <tr>
                     <td class="text-center">
                     Noćna
                     </td>
                        {{range $index := iterate $dim}}
                                <td class="text-center">
                                <input 
                                    {{if gt (index $nightblocks (printf "%s-%s-%d" $curYear $curMonth (add $index 1))) 0 }}
                                                    checked
                                                    name="remove_nightblock_{{$employeeID}}_{{printf "%s-%s-%d" $curYear $curMonth (add $index 1)}}"
                                                    value="{{index $nightblocks (printf "%s-%s-%d" $curYear $curMonth (add $index 1))}}"
                                                {{else}}
                                                    name="add_nightblock_{{$employeeID}}_{{printf "%s-%s-%d" $curYear $curMonth (add $index 1)}}"
                                                    value="1"
                                                {{end}}
                                                type="checkbox">
                                 {{end}}
                                </td>
                        
                     </tr>

                </table>
            </div>
        {{end}}

        <hr>

            <input type="submit" class="btn btn-primary" value="Sačuvaj">

    </form>

    </div>

{{end}}