{{template "base" .}}

{{define "content"}}
    <div class="container">
		
   <div class="row">
            <div class="col">
                <h1 class="mt-3">Kontakt</h1>
                <hr>
                 <div class="row">
                    
                    <div class="col-md-6">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2833.2481635098716!2d20.487441315749468!3d44.75535338848023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a71194127c9d9%3A0xcd90734d209b1254!2z0JXQu9C10LrRgtGA0L7QvNGA0LXQttCwINCh0YDQsdC40ZjQtQ!5e0!3m2!1ssr!2srs!4v1661768360971!5m2!1ssr!2srs"
                                width="100%" height="700" frameborder="0" style="border:0;" allowfullscreen=""
                                aria-hidden="false" tabindex="0"></iframe>

                    </div>

                    <div class="col-md-6 text-center">

                        <strong>EMS AD</strong><br>
                        Vojvode Stepe 412<br>
                        11 000 Beograd<br>
                        Srbija<br>
                        (+381) 64 840-8871<br>
                        <a href="mailto:tijana.dmitrovic@ems.rs">tijana.dmitrovic@ems.rs</a>

                    </div>
                </div>

                
            </div>
     </div>
	 
		
</div>	
{{end}}